
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/ExpensesWebApp.deps.json
bin/Debug/netcoreapp3.1/ExpensesWebApp.dll
bin/Debug/netcoreapp3.1/ExpensesWebApp.exe
bin/Debug/netcoreapp3.1/ExpensesWebApp.pdb
bin/Debug/netcoreapp3.1/ExpensesWebApp.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ExpensesWebApp.runtimeconfig.json
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/ExpensesWebApp.assets.cache
obj/Debug/netcoreapp3.1/ExpensesWebApp.csproj.CopyComplete
obj/Debug/netcoreapp3.1/ExpensesWebApp.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ExpensesWebApp.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ExpensesWebApp.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ExpensesWebApp.dll
obj/Debug/netcoreapp3.1/ExpensesWebApp.exe
obj/Debug/netcoreapp3.1/ExpensesWebApp.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/ExpensesWebApp.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/ExpensesWebApp.pdb
obj/Debug/netcoreapp3.1/ExpensesWebApp.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/staticwebassets/ExpensesWebApp.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/ExpensesWebApp.StaticWebAssets.xml
obj/ExpensesWebApp.csproj.nuget.dgspec.json
obj/ExpensesWebApp.csproj.nuget.g.props
obj/ExpensesWebApp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Release/netcoreapp3.1/ExpensesWebApp.AssemblyInfo.cs
obj/Release/netcoreapp3.1/ExpensesWebApp.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/ExpensesWebApp.assets.cache
obj/Debug/netcoreapp3.1/ExpensesWebApp.assets.cache
obj/Debug/netcoreapp3.1/ExpensesWebApp.assets.cache
.vs/ExpensesWebApp/v16/.suo
obj/Debug/netcoreapp3.1/ExpensesWebApp.assets.cache
